.flabel {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.flabelbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.flabelbold A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.flabelbold A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0033ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.flabel2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.flabel2 A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.flabel2 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.elabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.elabelbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sameas {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.sbuttons {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sbuttons A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sbuttons A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #66ccff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.items {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.itemsrow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
.fselect {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.welcome {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.welcome A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.welcome A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.welcomesmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.welcomesmall A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #444968; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.welcomesmall A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0033ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.custservemail {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ebebeb; FONT-FAMILY: ms sans serif; TEXT-ALIGN: center
}
.custservemail A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: ms sans serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.custservemail A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #66ccff; FONT-FAMILY: ms sans serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.porderresults {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ebebeb; FONT-FAMILY: ms sans serif
}
.porderheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #444968; FONT-FAMILY: ms sans serif
}
.porderheaderblack {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: ms sans serif
}
.porderheadersmall {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #444968; FONT-FAMILY: ms sans serif
}
.porderheaderr {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #444968; FONT-FAMILY: ms sans serif; TEXT-ALIGN: right
}
.porderheaderc {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #444968; FONT-FAMILY: ms sans serif; TEXT-ALIGN: center
}
.porderlist {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: ms sans serif
}
.porderlist A {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
.porderlist A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0033ff; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
.porderlistr {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: ms sans serif; TEXT-ALIGN: right
}
.porderlistc {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: ms sans serif; TEXT-ALIGN: center
}
.porderlistblue {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-FAMILY: ms sans serif
}
