BODY {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
LI {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
DD {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
A {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
FORM {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
B {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
.MainContent {
	FONT-SIZE: 11px; COLOR: #333333; WIDTH: 1200px;FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
FONT {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Lucida,  Helvetica, sans-serif
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BACKGROUND-COLOR: #29385b
}
TD {
	TEXT-ALIGN: left
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainContentBorder {
	BORDER-RIGHT: #d5ae65 1px solid; BORDER-TOP: #d5ae65 1px solid; MARGIN-TOP: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #d5ae65 1px solid; WIDTH: 1200px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #d5ae65 1px solid; BACKGROUND-COLOR: #222e4b
}
#breadCrumb {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; TEXT-ALIGN: left
}
#breadCrumb TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; COLOR: #d5ae65
}
#breadCrumb A {
	COLOR: #d5ae65; TEXT-DECORATION: none
}
.breadCrumbActive {
	COLOR: white
}
.search {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 9px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #dddddd 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.email {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 9px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #dddddd 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
#navSection IMG {
	MARGIN-LEFT: 25px; MARGIN-RIGHT: 0px
}
#navSection {
	PADDING-TOP: 10px
}
#navBasket TD {
	PADDING-LEFT: 10px
}
#navBasket A {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
#navBasket A:hover {
	TEXT-DECORATION: underline
}
#navBasket .navAlt {
	FONT-WEIGHT: bold; COLOR: #d5ae65
}
.midFooterLink .navAlt {
	FONT-WEIGHT: bold; COLOR: #d5ae65
}
.midFooterLink {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 10px; COLOR: white
}
.midFooterLink A {
	FONT-SIZE: 10px; COLOR: white; TEXT-DECORATION: none
}
.midFooterLink A:hover {
	TEXT-DECORATION: underline
}
#bottomMiddleNavTable {
	CLEAR: both; MARGIN-TOP: 12px; MARGIN-BOTTOM: 12px; WIDTH: 700px
}
.footerLink {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 10px; COLOR: #d5ae65
}
.footerLink A {
	FONT-SIZE: 10px; COLOR: #d5ae65; TEXT-DECORATION: none
}
.footerLink A:hover {
	TEXT-DECORATION: underline
}
A.StrongLink {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.StrongLink:hover {
	TEXT-DECORATION: underline
}
A.alt {
	FONT-WEIGHT: bold; COLOR: #2a3960
}
A.alt2 {
	COLOR: #d5ae65
}
.altText {
	COLOR: #2a3960
}
.border {
	BORDER-RIGHT: #d5ae65 1px solid; BORDER-TOP: #d5ae65 1px solid; BORDER-LEFT: #d5ae65 1px solid; BORDER-BOTTOM: #d5ae65 1px solid
}
.bordersas {
	BORDER-RIGHT: #ffffff 4px solid; BORDER-TOP: #ffffff 4px solid; BORDER-LEFT: #ffffff 4px solid; BORDER-BOTTOM: #ffffff 4px solid
}
.outlineBox {
	BORDER-RIGHT: #b5b5b5 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #b5b5b5 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #b5b5b5 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #b5b5b5 1px solid; BACKGROUND-COLOR: #f1f0f0
}
.fieldLabel {
	FONT-WEIGHT: bold; COLOR: #2a3960
}
.fieldLabelOptional {
	COLOR: #2a3960
}
#headlineTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 660px; PADDING-TOP: 0px
}
#headlineTable IMG {
	PADDING-RIGHT: 20px
}
.headlineHR {
	MARGIN-BOTTOM: 15px; BORDER-BOTTOM: #d5ae65 1px solid; HEIGHT: 10px
}
.headlineHR {
	MARGIN-BOTTOM: 15px; BORDER-BOTTOM: #d5ae65 1px solid; HEIGHT: 10px
}
.underline {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #d5ae65 1px solid
}
.affHeadline {
	FONT-WEIGHT: bold; COLOR: #293960
}
#errorTable {
	MARGIN-BOTTOM: 20px
}
.error {
	FONT-WEIGHT: bold; COLOR: #990000
}
.errorImg {
	MARGIN-RIGHT: 8px
}
.currentPage {
	FONT-WEIGHT: bold; COLOR: #d5ae65
}
#topNavLrg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 748px; PADDING-TOP: 0px; HEIGHT: 49px; TEXT-ALIGN: center
}
#bbLogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 256px; PADDING-TOP: 0px
}
#topNav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 492px; PADDING-TOP: 0px
}
#topNavSearch {
	FLOAT: right; MARGIN: 0px; WIDTH: 215px; COLOR: #fff; PADDING-TOP: 6px
}
#topNavSearch A {
	FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
#topNavSearch A:hover {
	TEXT-DECORATION: underline
}
#topNavSearch INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topNavBanner {
	FLOAT: left; WIDTH: 277px; COLOR: #fff; TEXT-ALIGN: center
}
#mainnavLrg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 716px; PADDING-TOP: 10px; HEIGHT: 10px
}
#mainnavLrg UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mainnavLrg LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainnavLrg A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 0px! important; TEXT-DECORATION: none
}
#mainnavLrg A:hover {
	BACKGROUND-POSITION: 0px -12px
}
#mainnavLrg LI.active {
	BACKGROUND-POSITION: 0px -12px
}
#mainnavLrg LI A.active {
	BACKGROUND-POSITION: 0px -12px
}
#mainnavLrg LI A.active:hover {
	BACKGROUND-POSITION: 0px -12px
}
#men A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_men.gif) no-repeat left top; MARGIN-LEFT: 6px; WIDTH: 31px; MARGIN-RIGHT: 23px
}
#women A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_women.gif) no-repeat left top; WIDTH: 54px; MARGIN-RIGHT: 25px
}
#boys A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_boys.gif) no-repeat left top; WIDTH: 32px; MARGIN-RIGHT: 25px
}
#countryclub A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_countryclub.gif) no-repeat left top; WIDTH: 101px; MARGIN-RIGHT: 25px
}
#blackfleece A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_blackfleece.gif) no-repeat left top; WIDTH: 92px; MARGIN-RIGHT: 24px
}
#holiday A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_holiday.gif) no-repeat left top; WIDTH: 60px; MARGIN-RIGHT: 23px
}
#brooksbuys A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_brooksbuys.gif) no-repeat left top; WIDTH: 90px; MARGIN-RIGHT: 25px
}
#giftcard A {
	BACKGROUND: url(../Nav/Images/topnav/topnav_lrg_giftcard.gif) no-repeat left top; WIDTH: 70px
}
